body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  background-image: url(https://rare-gallery.com/uploads/posts/340193-Digital-Art-Synthwave-Retrowave-Vaporwave-Mountain-Night.jpg);
  background-size: cover;

}
ul {
    align-items: center;
    list-style-type: none;
}
li {
    display: inline-block;
    padding: 10px;
}
.logo {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 8px;
}
.button-1 {
    background-color: #81588d; /* Green */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
}
.button-1:hover {
    background-color: #39253f;
}
.left-links {
    padding: 0 16px;
    font-size: 32px;
    display: flex;
}
.right-links {
    margin-right: 50px;
}
.header {
  height: 100px;
  background: darkmagenta;
  color: rgb(0, 0, 0);
  padding: 0 16px;
  font-size: 32px;
  font-weight: 900;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.container-1{
    display: flex;
    justify-content: center;
    height: 700px;
    gap: 40px;

    margin-top: 100px;
}
.content-1{
    display:flex;
    flex-direction: column;
    
    text-align:justify;
    width: 300px;
    height: 200px;
    margin-top: 80px;
    padding: 20px;
    border-radius: 15px;
    color:#eee;
}
.content-1 p {
    font-size: large;
}
.content-2 {
    height: 300px;
}

.content-2-img{
    width: 500px;
    height: 380px;
    margin: 10px;
    border-radius: 8px;
}
.container-2{
    display:block;
    
    justify-content: center;
    padding: 30px;
}
.container-2 .info-content .info img{
    width: 230px;
    height: 200px;
    border-radius: 8px;
}
.info-content {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px;
}
.info {
    display: block;
    text-align: center;
    max-width: 300px;
    font-size: 20px;
    font-weight: 600;
    color:aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.info-title {
    text-align: center;
    font-size: 32px;
    font-weight:bolder;
    color: white;
}

.container-3{
    display: flex;
    justify-content: center;
    background:rgb(63, 37, 97);
}
.container-3 .quote {
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
}
.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 300px;

}
.container-4 .content-3 {
    text-align:start;
    display: flex;
    justify-content: flex-start;
    background: darkmagenta;
    border-radius:  10px;
    padding: 30px;
    gap: 50px;
    
}
.container-4 .content-3 .msg{
    font-size: 18px;
}
.container-4 .content-3 .button-1 {
    margin-top: 30px;
    height: 50px;

}
.footer {
  height: 72px;

  color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
}